body {
    background: #fafafa;
    font-family: "Adobe Caslon Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    overflow: auto;
    margin: 0;
}
p {
	font-size: 18px;
}
a {
	text-decoration: none;
	font-family: "Adobe Caslon Pro";
	color: #44656b;
}
a:hover {
	color: #6b9da7;
}
header {
	background: url(/images/header-background.png) repeat-x;
	width: 100%;
	height: 217px;
	overflow: auto;
}

.header-box {
	background: url(/images/header-image.png) no-repeat;
	max-width: 1242px;
	height: 216px;
	margin: 0 auto;
	position: relative;
}

.search-box {
	width: 120px;
	height: 0px;
	background-color: #152e32;
	position: absolute;
	right: 50px;
	top: 40px;
}
.search-field {
	color: #faeeda !important;
	font-size: 9pt !important;
	width: 130px;
	background-color: #152e32 !important;
	border: none !important;
	border-radius: 8px !important;
	height: 30px !important;
	padding: 6px !important;
	text-align: center;
	font-family: 'Lucida Grande' !important;
}

.search-field:hover {
	background-color: #1d3f46 !important;
	cursor: pointer;
}
.main-header{
	background: url(/images/main-header.png) no-repeat;
	height: 171px;
	width: 920px;
	margin: 0 auto;
	position: relative;
}

nav {
	position: absolute;
	bottom: 1.2em;
	right: 5px;
	width: 900px;
}
nav .menu {
	list-style: none;
}
nav .menu-item {
	display: inline-block;
	list-style: none;
	margin-right: 60px;
}
nav .menu-item a {
	text-decoration: none;
	text-transform: uppercase;
	color: #44656b;
	font-size: 10pt;
}
nav .menu-item a:hover {
	color: #6b9da7;
}

.main {
	max-width: 1242px;
	margin: 0 auto;
	min-height: 450px;
	overflow: auto;
	padding-bottom: 40px;
}
footer {
	width: 100%;
	background: url(/images/footer-background.png) repeat-x;
	height: 191px;
}
.footer-box {
	max-width: 1242px;
	height: 100%;
	margin: 0 auto;
	overflow: auto;
}

.footer-info {
	max-width: 920px;
	position: relative;
	margin: 20px auto;
	display: block;
}

.footer-contact {
	max-width: 920px;
	position: relative; 
	margin: 0 auto;
	padding-left: 100px;
	display: block;
}

.contact-row {
	color: #44656b;
	font-size: 8pt;
	margin-bottom: 1px;
}

.partner-foundation {
	color: #44656b;
	font-size: 12pt;
	margin-right: 20px;
}
.footer-logo {
	margin-right: 25%;
}
.footer-logo,
.partner-foundation,
footer span {
	display: inline-block;
	vertical-align: bottom;
}
.divided {
	padding-right: 5px;
	border-right: 1px solid #44656b;
	margin-right: 5px;
}
.admin-manage>.nav-tabs {
	border-bottom: none;
	margin-left: 70px;
}
.admin-manage li>a {
	border-radius: 4px !important;
}
.logout {
	position: absolute;
	top: -40px;
	right: 0;
}
.logout li {
	float: left !important;
}
.logout li a {
	border-radius: 4px !important;
}
.left-column {
    background-color: rgb(247,243,235);
    position: relative;
    padding: 40px 60px 50px 60px;
}
.left-column h1, .left-column h2, .left-column h3 {
	color: #44656b;
}
.right-column {
	margin-top: 0px;
}
.hero-unit {
    margin: 0px auto 0 auto;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    border-radius: 6px;
    background-color: transparent;
    padding: 10px 0 5px 0;
}
.hero-unit li {
    list-style-type: none;
    display: inline-block;
    width: 33%;
}
.hero-unit>ul {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.hero-unit h2 {
	color: #44656b;
}
.hero-unit.no-background {
	background-color: white;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 0px 0 0;
}
label.radio {
	font-size: 15px;
}

.question .alert {
	width: 50%;
	margin-top: 20px;
}
.question p {
	margin-left: 10px;
}
.question .radio {
	position: relative;
	left: 20px;
}
.question>p:before {
	content: "";
	display: block;
	position: absolute;
	height: 10px;
	width: 10px;
	background-color: #44656b;
	margin-left: -10px;
	margin-top: 2px;
	border-radius: 22px;
}
.question {
	border-bottom: 1px dashed black;
	margin-bottom: 20px;
}
.training-legend {
	color: #44656b;
	font-size:12px;
}
.animate-if {
}

.animate-if.ng-leave {
	opacity:0;
}
.animate-if.ng-enter {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
	opacity:0;
}

.animate-if.ng-enter.ng-enter-active,
.animate-if.ng-leave {
	opacity:1;
}

.alert h4 {
	margin-bottom: 10px;
}

#alertify nav {
	position: inherit;
	bottom: inherit;
	right: inherit;
	width: inherit;
}
#alertify input {
	height: 36px;
	padding: 8px;
}
#alertify form {
	margin-bottom: 0px;
}
.back-link {
	position: relative;
	display: inline-block;
	line-height: 40px;
	text-indent: 20px;
}
.user-form {
	position: relative;
	margin-top: 20px;
	left: 0;
}
.module-instructions {
	margin-bottom: 20px;
	padding: 0 15px;
	border-top: 1px solid #44656b;
	border-bottom: 1px solid #44656b;
}
.module-instructions h3 {
	margin: 0;
	font-size: 20px;
}
.module-instructions p {
	font-size: 14px;
	line-height: 1.4em;
}
.module-training p {
	margin-bottom: 0;
	line-height: 1.3em;
}
.btn, .nav-tabs a {
	color: #FAEEDA;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #152F33;
	*background-color: #152F33;
	background-image: -moz-linear-gradient(top, #2D646D, #152F33);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2D646D), to(#152F33));
	background-image: -webkit-linear-gradient(top, #2D646D, #152F33);
	background-image: -o-linear-gradient(top, #2D646D, #152F33);
	background-image: linear-gradient(to bottom, #2D646D, #152F33);
	background-repeat: repeat-x;
	border-color: #152F33;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2D646D', endColorstr='#152F33', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
.nav-tabs a:hover {
	color: #FFFFFF !important;
	background-color: #152F33 !important;
	*background-color: #003bb3 !important;
}
.btn-success:focus {
	outline: none;
	background-color: #152f33;
}
.label {
	font-family: Arial !important;
}

.completed {
	position: relative;
}
.completed:before {
	content: "\f00c";
	font-family: FontAwesome;
	text-decoration: inherit;
	font-style: normal;
	font-weight: normal;
	display: block;
	position: absolute;
	top: -2px;	
	left: -20px;
	color: #44656b;
}
a[href$='pdf'] {
	position: relative;
	display: inline;
	text-indent: -9999px;
	color: transparent;
}
a[href$='pdf']:before {
	content: "\f0f6";
	font-family: FontAwesome;
	display: inline;
	position: absolute;
	color: #44656b;
	text-indent: 0;
	top: -2px;
	font-size: 20px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #FFFFFF !important;
	background-color: #152F33 !important;
}

.home {
	margin-right: 30px;
}
