<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="bower_components/bootstrap-sass/bootstrap-2.3.2.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap-sass/bootstrap-responsive-2.3.2.min.css">
        <link rel="stylesheet" href="bower_components/alertify/themes/alertify.core.css">
	<link rel="stylesheet" href="bower_components/alertify/themes/alertify.default.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="vendors/nprogress.css">
	<!-- endbuild -->
	<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
</head>
  <body ng-app="jpAppApp" ng-controller="AppCtrl">
	  <header class="top-bar">
	  <div class="header-box">
		  <div class="main-header">
			  <div class="search-box">
				  <a href="http://justinepetersen.org"><button type="text" class="search-field">justinepetersen.org</button></a>
			  </div>
			  <nav class="nav-menu">
			  <ul class="menu">
				<li class="menu-item">
			  		<a href="/#/">Home</a>
				</li>
				<li class="menu-item">
					<a href="/#/about">About the Center</a>
				</li>
				<li class="menu-item">
					<a href="/#/trainings-index">Training</a>
				</li>
				<li class="menu-item">
					<a href="/#/my-account">My Account</a>
				</li>
			</ul>
			</nav>
		  </div>
	  </div>
	  </header>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="main">
	    <div class="container-fluid">
		    <div class="row-fluid"> 
			    <div class="offset1">
				    <a class="back-link" href ng-hide="$location.path() == '/home'" ng-click="$window.history.back()"><i class="fa fa-arrow-circle-left"></i> Back</a>
			    </div>
		    </div>

		    <div class="row-fluid" ng-view=""></div>
		
		</div>
	</div>
	<footer class="bottom-bar">
	<div class="footer-box">
		<div class="footer-info">
			<img src="/images/footer-logo.png" class="footer-logo" />
			<p class="partner-foundation">in Partnership with LISC</p>
			<p class="partner-foundation">Funded by MetLife Foundation</p>
		</div>

		<div class="footer-contact">
			<p class="contact-row">
				<span class="divided">1023 North Grand Blvd</span>
				<span class="divided">Saint Louis, Missouri 63106</span>
				<span class="divided">phone: 314.533.2411</span>
				<span>fax: 314.533.2299</span>	
			</p>		
			<p class="contact-row">justBIZ 929 North 15th St, East St. Louis, IL 62205</p>
			<p class="contact-row">&copy; 2013 justine PETERSEN.</p>
		</div>
	</div>
	</footer>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');

       ga('send', 'pageview');
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/tinymce/tinymce.min.js"></script>
    <script src="bower_components/alertify/alertify.min.js"></script>
        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <script src="bower_components/jquery-ui/ui/jquery.ui.sortable.js"></script>
        <script src="bower_components/angular-ui-sortable/src/sortable.js"></script>
	<script src="vendors/nprogress.js"></script>
        <script src="scripts/misc/globals.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/password-reset.js"></script>
        <script src="scripts/controllers/create-account.js"></script>
        <script src="scripts/controllers/manage-account.js"></script>
        <script src="scripts/controllers/user-exists.js"></script>
        <script src="scripts/controllers/trainings-index.js"></script>
        <script src="scripts/controllers/module-page.js"></script>
        <script src="scripts/controllers/module-complete-notification.js"></script>
        <script src="scripts/controllers/admin-home.js"></script>
        <script src="scripts/controllers/admin-manage-users.js"></script>
        <script src="scripts/controllers/admin-user-log-report.js"></script>
        <script src="scripts/controllers/admin-training-editor.js"></script>
        <script src="scripts/controllers/admin-module-editor.js"></script>
        <script src="scripts/controllers/admin-question-editor.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/training.js"></script>
        <script src="scripts/controllers/module.js"></script>
        <script src="scripts/controllers/question.js"></script>
        <script src="scripts/controllers/text.js"></script>
        <script src="scripts/controllers/email.js"></script>
        <script src="scripts/directives/loginRegister.js"></script>
        <script src="scripts/directives/userForm.js"></script>
        <script src="scripts/services/Users.js"></script>
        <script src="scripts/services/Texts.js"></script>
        <script src="scripts/services/Menus.js"></script>
        <script src="scripts/services/Trainings.js"></script>
        <script src="scripts/services/Modules.js"></script>
        <script src="scripts/services/Questions.js"></script>
        <script src="scripts/services/Configs.js"></script>
        <script src="scripts/services/Database.js"></script>
        <script src="scripts/services/Firebase.js"></script>
        <script src="scripts/services/Email.js"></script>
        <script src="scripts/services/Postmark.js"></script>
        <script src="scripts/services/State.js"></script>
        <script src="scripts/services/Auth.js"></script>
        <script src="scripts/services/REST.js"></script>
        <script src="scripts/services/LocalStorage.js"></script>
        <script src="scripts/directives/text.js"></script>
        <script src="scripts/controllers/App.js"></script>
        <script src="scripts/directives/leftColumn.js"></script>
        <script src="scripts/directives/rightColumn.js"></script>
        <script src="scripts/directives/question.js"></script>
        <script src="scripts/controllers/module-passed.js"></script>
        <script src="scripts/directives/editBox.js"></script>
        <!-- endbuild -->
</body>
</html>
