<div left-column>
	<div class="span12">
		<h2>Training Editor</h2>
		<input class="span6" type="text" ng-model="training.title"></input>
		<h3>Manage Modules</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="span5">
						Module Name
					</th>
					<th>
						Operations
					</th>
					<th>
						<a href ng-click="addModule()">+ Add New Module</a>
					</th>
				</tr>
			</thead>
			<tbody ui-sortable="sortOptions" id="rows">
				<tr id="{{module.id}}" ng-repeat="module in rows | orderBy:'order'" ng-hide="{{module.id == undefined || module.title == undefined}}">
					<td>
						<a ng-href="/#/admin-module/{{module.id}}">{{module.title}}</a>
					</td>
					<td>
						<a ng-href="/#/admin-module/{{module.id}}">edit</a> <a href ng-click="deleteModule(module.id, module.title)">delete</a> <a href ng-click="toggleModuleStatus(module.id)">publish</a>
					</td>
					<td>
							<span class="label label{{ (module.published == 'true') ? '-success' : '-important'}}">{{ (module.published == 'true') ? 'Published' : 'Unpublished'}}</span>
					</td>
				</tr>
				<tr id="test-module">
					<td>
						<a ng-href="/#/admin-module/{{test}}">Test Module</a>
					</td>
					<td>
						<a ng-href="/#/admin-module/{{test}}">edit</a> 
					</td>
					<td>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-large btn-success" ng-click="save()">Save</button>
	</div>
</div>
