<div left-column>
	<div class="span12">
		<h2>Question Editor</h2>
		<h4>Question Title</h4>
		<input type="text" placeholder="Title" name="q-title" id="q-title" required ng-model="question.title">
	</div>
	<div edit-box header="Question Text" model="question.body" options="globals.wEditor.options"></div>
	<hr>
	<div class="row-fluid">
		<div class="span12">
			<h3>Question Answers</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="span5">
							Answer
						</th>
						<th>
							Correct?
						</th>
						<th>
							<a href ng-click="addAnswer()">+ Add New Answer</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="answer in question.answers track by $index">
						<td>
							<input type="text" ng-model="question.answers[$index]"></input>
						</td>
						<td>
							<input type="radio" ng-model="question.correctAnswer" value="{{answer}}" name="radioAnswers"></input>
						</td>
						<td>
							<a href ng-click="delete($index)">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div edit-box header="Correct Message" model="question.correctmessage" options="globals.wEditor.options"></div>
	<div edit-box header="Wrong Message" model="question.wrongmessage" options="globals.wEditor.options"></div>
	<div class="row-fluid">
		<div class="span12">
			<button class="btn btn-large btn-success" ng-click="save()">Save</button>
		</div>
	</div>
</div>
