<!-- Yes, it looks jacked up. Trust me, it works. -->
<div left-column>
	<div text="hero-unit"></div>
	<div class="admin-manage">
		<ul class="nav nav-tabs"><li><a class="btn" href="/#/admin/users">Manage Users</a></li></ul>
	</div>
	<div class="logout">
		<ul class="nav nav-tabs nav-stacked">
			<li><a class="btn" href="/#/login">Log Out</a></li>
		</ul>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<h3>Manage Trainings</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="span6">
							Training Name
						</th>
						<th>
							Operations
						</th>
						<th>
							<a href ng-click="addTraining()">+ Add New Training</a>
						</th>
					</tr>
				</thead>
				<tbody id="rows" ui-sortable="sortOptions">
					<tr id="{{training.id}}" ng-repeat="(id, training) in rows | orderBy:'order'" ng-hide="{{training.title == undefined}}">
						<td>
							<a ng-href="/#/admin-training/{{training.id}}">{{training.title}}</a> 
						</td>
						<td>
							<a ng-href="/#/admin-training/{{training.id}}">edit</a>&nbsp;&nbsp; <a href ng-click="deleteTraining(training.id, training.title)">delete</a> &nbsp;&nbsp;<a ng-show="training.published == 'true'" href ng-click="toggleTrainingStatus(training.id, training)">unpublish</a><a ng-show="training.published != 'true'" href ng-click="toggleTrainingStatus(training.id, training)">publish</a>
						</td>
						<td>
							<span class="label label{{ (training.published == 'true') ? '-success' : '-important'}}">{{ (training.published == 'true') ? 'Published' : 'Unpublished'}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<h3>Site-Wide Texts</h3>
	<h5>Bellow you can edit the text that appears throughtout the training site. Text for specific modules and questions can be edited inside each training.</h5>
	<div ng-repeat="box in boxes">
		<div edit-box header="{{box.header}}" model="box.body" options="globals.wEditor.options"></div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<button class="btn btn-large btn-success" ng-click="save()">Save</button>
		</div>
	</div>
</div>
	<div right-column>
	</div>
