<div left-column>
	<div class="span12">
		<h2>Module Editor</h2>
		<input class="span6" type="text" ng-model="module.title"></input>
              </div>
        <div ng-hide="module.test">
          <div edit-box header="Training Text" model="module.trainingText" options="globals.wEditor.options"></div>
          <div edit-box header="Epilogue Text" model="module.epilogue" options="globals.wEditor.options"></div>
        </div>
        <div ng-show="module.test">
          <div edit-box header="Test Introduction" model="module.trainingText" options="globals.wEditor.options"></div>
          <div edit-box header="Test Epilogue" model="module.epilogue" options="globals.wEditor.options"></div>
        </div>
	<hr>
	<div class="row-fluid">
		<div class="span12">
		<h3>Manage Questions</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="span4">
						Question Title
					</th>
					<th>
						Operations
					</th>
					<th>
						<a href ng-click="addQuestion()">+ Add New Question</a>
					</th>
				</tr>
			</thead>
			<tbody ui-sortable="sortOptions" id="rows">
				<tr id="{{question.id}}" ng-repeat="question in rows | orderBy:'order'" ng-hide="{{question.id == undefined}}">
					<td>
						<a ng-href="/#/admin-question/{{question.id}}">{{question.data.title}}</a>
					</td>
					<td>
						<a ng-href="/#/admin-question/{{question.id}}">edit</a> <a href ng-click="deleteQuestion(question.id, question.data.title)">delete</a> <a href ng-click="toggleQuestionStatus(question.id)">publish</a>
					</td>
					<td>
							<span class="label label{{ (question.published == 'true') ? '-success' : '-important'}}">{{ (question.published == 'true') ? 'Published' : 'Unpublished'}}</span>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-large btn-success" ng-click="save()">Save</button>
		</div>
	</div>
</div>
