<div left-column>
	<div class="offset1 span9">
		<h2>User Log report</h2>
	</div>

	<div class="row-fluid">
		<div class="offset1 span9">
		<h4>{{user.firstName}} {{user.lastName}}</h4>
		<h4>{{user.organization}}, {{user.workTitle}}, {{user.emailAddress}}</h4>
		<hr/>
		<h3>Modules Completed</h3>
		<p ng-repeat="module in user.modulesCompleted">{{module.time}} <strong>{{module.name}}</strong></p> 
		</div>
	</div>
</div>