<div left-column>
	<div class="row-fluid">
		<div class="span12">
			<h3>Manage Users</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="span3">
							Name
						</th>
						<th class="span3">
							Email
						</th>
						<th>
							Organization
						</th>
						<th class="span3">
							<a href ng-click="location.path('create-account')">+ Add New User</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(id, user) in objToArray(users) | orderBy:'lastName' track by $index" ng-hide="user.firstName == undefined">
						<td>
							<div ng-bind="user.firstName + ' ' + user.lastName"></div>
						</td>
						<td>
							<div ng-bind="user.emailAddress"></div>
						</td>
						<td>
							<div ng-bind="user.organization"></div>
						</td>
						<td>
							<a href ng-click="editUser(user.id)">Edit</a>
							&nbsp;
							<a href ng-click="resetPassword(user.emailAddress)">Reset Password</a>
							&nbsp;
							<a href ng-click="deleteUser(user.id, user.firstName + ' ' + user.lastName)">Delete</a>
							&nbsp;
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
