<div left-column>
	<div text="hero-unit"></div>
	<div class="logout">
		<ul class="nav nav-tabs nav-stacked">
				<li><a href="/#/login">Already have an account? Log in.</a></li>
		</ul>
	</div>
	<div user-form submit="createAccount(data)"></div>
</div>

<div class="right-column" right-column>

</div>
