<div left-column>
	<div text="hero-unit"></div>
	<div class="login" ng-show="loggedIn !== undefined">
		<div ng-show="!loggedIn">
			<button class="btn btn-primary home" ng-click="$location.path('login')">Sign In</button>
			<button class="btn btn-primary home" ng-click="$location.path('create-account')">Create Account</button>
		</div>
		<div ng-show="loggedIn">
			<button class="btn btn-primary home" ng-click="$location.path('trainings-index')">Trainings Index</button>
			<button ng-show="isAdmin" class="btn btn-primary home" ng-click="$location.path('admin-home')">Administration</button>
			<button class="btn btn-primary home" ng-click="$location.path('logout')">Logout</button>
		</div>
	</div>
</div>
<div right-column>
</div>
