<form class="form-horizontal" style="position: relative; left: -50px; margin-top: 20px;">
	<fieldset>
		<!-- Text input-->
		<div class="control-group">
			<label class="control-label" for="user-name">User Name</label>
			<div class="controls">
				<input autocomplete="off" ng-model="form.emailAddress" id="user-name" name="user-name" type="text" placeholder="Enter an email address" class="input-xlarge" required="">

			</div>
		</div>

		<!-- Password input-->
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input autocomplete="off" ng-model="form.password" id="password" name="password" type="password" placeholder="Enter a password" class="input-xlarge" required="">

			</div>
		</div>
		<!-- Button -->
		<div class="control-group">
			<label class="control-label" for="create-account">Submit</label>
			<div class="controls">
				<button id="create-account" name="create-account" class="btn btn-primary" ng-click="submit({data: form})">Login</button>
			</div>
		</div>

	</fieldset>
</form>

