<div left-column>
	<div text="hero-unit"></div>
	<div class="logout">
		<ul class="nav nav-tabs nav-stacked">
			<li><a class="btn" href="/#/password-reset">Forget your password?</a></li>
		</ul>
	</div>
	<div login-register submit="login(data)"></div>
</div>

<div right-column>
</div>
