<div left-column>
	<div class="offset1 span9">
		<div>
			<h2>Congratulations!</h2>
			<p>You have completed the module. Print this page as proof of your successful completion. You may also enter your supervisor's email addres bwlow to email him/her notification of your completion.</p>
			<p>
				<button ng-click="print()" class="btn btn-success">Print Page</button>
			</p>
		</div>
		<form class="form-inline">
			<input type="text" ng-model="email" placeholder="supervisor's email">
			<button type="submit" class="btn" ng-click="sendEmail(email)">Send Email</button>
		</form>
		<a ng-show="emailSent" href="/#/trainings-index">Return to Trainings</a>
	</div>
</div>

