<div left-column>
	<div class="module-page">
		<h2>{{module.title}}</h2>
		<div class="module-instructions" text global="taking-the-test"></div>
		<div class="module-training" ng-bind-html="module.trainingText"></div>
		<h4 class="begin-module">Based on the information above, answer these following questions.</h4>
		<div ng-repeat="question in module.questions | orderBy:'order'">
			<!-- {{question.data.body}} -->
			<!--	<question data="question.data"></question> -->
			<div question="question.data" editor="questionSubmit(data)"></div>
		</div>
		<div>
			<button ng-disabled="!passed" class="btn btn-large btn-success" ng-click="passTest()">Submit</button><span ng-hide="passed"> &nbsp;(You must complete the test without error before submitting)</span>
		</div>
	</div>
</div>
