<div left-column>
	<div text="hero-unit"></div>
	<form class="form-horizontal user-form offset1">
		<fieldset>
			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="user-name">User Name (email address)</label>
				<div class="controls">
					<input ng-model="form.userId" id="user-name" name="user-name" type="text" placeholder="Enter your username" class="input-xlarge" required="">

				</div>
			</div>
			<!-- Button -->
			<div class="control-group">
				<label class="control-label" for="create-account">Submit</label>
				<div class="controls">
					<button id="create-account" name="create-account" class="btn btn-primary" ng-click="submit()">Send me new password</button>
				</div>
			</div>

		</fieldset>
	</form>

</div>

<div right-column>
</div>
