<div class="question">
<p ng-bind-html="question.body"></p>
<form>
	<div ng-if="question.correct">
		<p><strong>Answer:</strong> {{question.correctAnswer}}</p>
	</div>
	<div ng-if="!question.correct">
		<label class="radio" ng-repeat="answer in question.answers">
			<input type="radio" name="{{question.title + '_answers'}}" ng-change="validateAnswer({check: (answer == question.correctAnswer)})" ng-model="question.selectableAnswers"  ng-value="answer"> {{answer}}
		</label>
	</div>
	
	<div ng-if="question.correct" class="animate-if">
		<div class="alert alert-success">
			<h4>Correct!</h4> 
			<div ng-bind-html="question.correctmessage"></div>
		</div>
	</div>
	<div ng-if="!question.correct && question.correct != undefined" class="animate-if">
		<div class="alert alert-error">
			<h4>Incorrect!</h4> 
			<div ng-bind-html="question.wrongmessage"></div>
		</div>
	</div>
</form>
</div>
