<div left-column>
	<div text="hero-unity"></div>
	<div class="logout">
		<ul class="nav nav-tabs nav-stacked">
			<li ng-show="isAdmin"><a class="btn" href="/#/admin-home">Administration</a></li>
			<li><a class="btn" href="/#/logout">Logout</a></li>
		</ul>
	</div>
	<div class="hero-unit">
		<ul ng-repeat="training in trainings | orderBy:'order'" ng-show="training.published == 'true'">
			<h3>{{training.title}}</h3>
			<li ng-repeat="module in fixObj(training.modules) | orderBy:'order'" ng-class="{completed: (_.contains(completedModules, module.id))}" ng-show="module.published == 'true'"><a ng-href="/#/module/{{module.id}}">{{module.title}}</a></li>
		</ul>
		<p class="training-legend">Legend: <i class="fa fa-check"></i> = Module Completed</p>
	</div>
</div>
