<form class="form-horizontal offset1 user-form">
	<fieldset>
		<!-- Text input-->
		<div class="control-group">
			<label class="control-label" for="first-name">First Name</label>
			<div class="controls">
				<input ng-model="form.firstName" id="first-name" name="first-name" type="text" placeholder="Enter your first name" class="input-xlarge" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="control-group">
			<label class="control-label" for="last-name">Last Name</label>
			<div class="controls">
				<input ng-model="form.lastName" id="last-name" name="last-name" type="text" placeholder="Enter your last name" class="input-xlarge" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="control-group">
			<label class="control-label" for="organization">Organization</label>
			<div class="controls">
				<input ng-model="form.organization" id="organization" name="organization" type="text" placeholder="Who do you work for?" class="input-xlarge" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input ng-model="form.workTitle" id="title" name="title" type="text" placeholder="What is your work title?" class="input-xlarge" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="control-group">
			<label class="control-label" for="user-name">User Name</label>
			<div class="controls">
				<input ng-model="form.emailAddress" id="user-name" name="user-name" type="text" placeholder="Enter an email address" class="input-xlarge" required="">

			</div>
		</div>

		<!-- Password input-->
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input ng-model="form.password" id="password" name="password" type="password" placeholder="Enter a password" class="input-xlarge" required="">

			</div>
		</div>

		<!-- Password input-->
		<div class="control-group">
			<label class="control-label" for="confirm-password">Confirm Password</label>
			<div class="controls">
				<input ng-model="form.passwordConfirm" id="confirm-password" name="confirm-password" type="password" placeholder="Enter your password to confirm" class="input-xlarge" required="">

			</div>
		</div>

		<!-- Button -->
		<div class="control-group">
			<label class="control-label" for="create-account"></label>
			<div class="controls">
				<button id="create-account" name="create-account" class="btn btn-primary" ng-click="submit({data: form})">Create Account</button>
			</div>
		</div>

	</fieldset>
</form>

